.consultMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.consultMain > div {
  margin: 0 0;
  position: static;
  left: 0;
  top: 8rem;
}
.consultSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: var(--highlightcolor);
  width: 75vw;
  padding-right: 18rem;
}
#create_consult {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15rem;
}
.filasup {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.filasup > div > h3 {
  color: var(--highlightcolor);
}
.filamed {
  display: flex;
  gap: 1rem;
}
textarea {
  width: 30rem;
  height: 25rem;
  overflow: scroll;
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.415);
  border-radius: 12px;
  color: var(--secondarycolor);
  font-size: 16px;
  font-family: 'VAG Rounded Std', 'Varela Round', sans-serif;
  padding: 0.8em;
}
textarea:focus {
  border: 2px solid var(--highlightcolor);
}

@media screen and (max-width: 800px) {
  .consultMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    padding: 0;
  }

  .consultSection {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #create_consult {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .filasup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: ;
  }

  .filamed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  textarea {
    width: 100%;
  }

  .filamed > div {
    width: 90%;
  }

  #create_consult > button {
    width: 80%;
  }
}
