#formulario_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30%;
}

.editMain{
  display: flex;
  flex-direction: row;
}

.editSection{
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 600px) {
  .editMain{
    flex-direction: column;
    justify-content: center;
  }
}