#formulario_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30%;
}

.editMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4rem 3rem 2rem;
  flex-wrap: wrap;
}

.editsection {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}
.editsection > h2 {
  color: var(--highlightcolor);
}
.resultsection {
  display: flex;
  flex-direction: column;
  height: 31.25rem;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 1rem;
}
.resultsection > h3,
.resultsection > h5 {
  color: var(--highlightcolor);
}

.resultsection > div {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .editMain {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: 0.5rem 0;
  }
  .editsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    width: auto;
    gap: 1rem;
  }
  .resultsection {
    padding: 0 0.5rem;
    text-align: center;
    width: auto;
    height: auto;
  }
}
