#home {
  color: var(--secondarycolor);
}

.hero-section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.bar {
  border-radius: 5px;
  height: 3px;
  width: 25vw;
  background-color: #ffbd5c;
  width: 10vw;
  background-color: #ffbd5c;
  margin: 10px 10px 10px 0;
}

.hero-text-container {
  width: 38%;
  z-index: 1;
  margin-left: 100px;
}

.hero-text-head {
  font-size: 6em;
  margin: 0 0 20px;
  line-height: 1;
}

.hero-text-description {
  font-size: 1.5vw;
  width: 80%;
}

.hero-illustration-container {
  margin: auto;
}

.hero-illustration-container > img {
  width: 50vw;
}

.register-section {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: top;
  gap: 15px;
  width: 100%;
  height: 50vh;
}

.register-section h2 {
  position: relative;
  object-position: top;
  font-size: 2.5em;
  z-index: 1;
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
  width: 20vw;
  color: var(--highlightcolor);
}

#formulario {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  z-index: 1;
  gap: 0.9rem;
}

.container {
  position: relative;
}

input,
select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.415);
  border-radius: 12px;
  color: var(--secondarycolor);
}

label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
}

select:focus ~ label,
select:valid ~ label,
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

select:focus,
select:valid,
input:focus,
input:valid {
  border: 2px solid var(--highlightcolor);
}

.container-pwd {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-illustration-container > img {
    width: 80vw;
  }
  .hero-text-container {
    margin-left: 0;
  }

  .register-section {
    height: 100vh;
  }
  .register-section h2 {
    font-size: 2em;
    width: 90%;
    padding: 0 2rem 0 2rem;
    margin: auto;
    gap: 0;
  }

  #formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .container-pwd {
    margin-left: 1.8rem;
  }

  .pass_visual {
    margin-left: 10px;
  }
}

.staff-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  margin-bottom: 4rem;
  gap: 2rem;
  width: 100vw;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
}

.staff-section > figure > img {
  width: 200px;
}

.staff-section > figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid red;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.staff-section > figure:hover {
  scale: 1.1;
  transition: 0.5s all ease-in-out;
}
