#home {
  color: var(--secondarycolor);
}

.flex__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 30px;
}

.content--left {
  align-items: center;
  width: 50%;
  position: relative;;
}

.content--left img{
  position: relative;
  height: 500px;
  width:500px;
}
#formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  position: relative;
}

input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.415);
  border-radius: 12px;
  width: 12rem;
  height: 2.8rem;
}

label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

input:focus,
input:valid {
  border: 2px solid var(--highlightcolor);
}

.container-pwd {
  position:relative;
}


