#home {
  color: var(--secondarycolor);
}

.hero-section {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
}

.bar {
  border-radius: 5px;
  height: 3px;
  width: 10vw;
  background-color: #ffbd5c;
  margin: 10px 10px 10px 0;
}

.hero-text-container {
  width: 38%;
  z-index: 1;
}

.hero-text-head {
  font-size: 6em;
  margin: 0 0 20px;
  line-height: 1;
}

.hero-text-description {
  width: 80%;
}

.hero-illustration-container > img {
  height: 60vh;
}

.register-section {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.register-section h2 {
  position: relative;
  font-size: 35px;
  z-index: 1;
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
  width: 20vw;
}

#formulario {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}
.container {
  position: relative;
}

input,
select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.415);
  border-radius: 12px;
  width: 12rem;
  height: 2.8rem;
}

label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
}

select:focus ~ label,
select:valid ~ label,
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

select:focus,
select:valid,
input:focus,
input:valid {
  border: 2px solid var(--highlightcolor);
}

.container-pwd {
  position: relative;
}
