.grid-pets > figure > img {
  width: 10vw;
  height: 15vh;
  border-radius: 50%;
  object-fit: cover;
}

.grid-pets {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.info-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

