.editMain{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;

}


.editSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--highlightcolor);
  
}

.editSection > input {
  width: 50%;
}


.pet_figure {
  display: flex;
  gap: 10rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--primarycolor);
  color: var(--highlightcolor);
  justify-content: space-between;
}
.pet-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  min-width: 126px;
}
