nav{
	background-color: rgb(74, 153, 187);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
  padding: 0 1rem;
  
}

nav > img{
  width: 150px;
  margin-left: 3rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a{
  display: block;
  padding: 0rem 2rem;
  line-height: 5rem;
  color: var(--primarycolor);
  text-decoration: none;
}

nav ul li a:hover{
  color:#ffbd5c;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--primarycolor);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li  {
    width: 100%;
}

nav ul li ul li a {
  position: relative;
	color:rgb(50, 49, 49);
  padding: 1rem 2rem;
  line-height: unset;
  white-space: nowrap;
  z-index: 9999;
  background-color: var(--primarycolor);
}

nav ul li ul li a:hover{
    background-color:rgb(206, 220, 227);
    color: var(--secondarycolor);
}

.logout-li{
  display: flex;
  align-items: center;
  margin: 1rem;
}

.avatar-staff > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  color: var(--primarycolor);
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  
  nav > img{
    margin: auto;
  }

  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
  }

  nav ul li:hover ul{
    width: 9rem;
  }
  
}