.userClientStaffMain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5rem;
  }

  .staffSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--highlightcolor);
    width: 75vw;
    padding-right: 18rem;
  }

  @media screen and (max-width: 600px) {
    .userClientStaffMain{
        flex-direction: column;
    }
  }