.footer {
  height: auto;
  padding: 2rem 4rem;
  color: var(--highlightcolor);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  opacity: 90%;
}

.footerBody {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.pages > li > a:hover {
  color: var(--highlightcolor);
  transition: 0.3s all ease-in-out;
}

.corporative > p > a:hover {
  color: var(--highlightcolor);
  transition: 0.3s all ease-in-out;
}

.footerBody > div > a:hover {
  color: var(--highlightcolor);
  transition: 0.3s all ease-in-out;
}

.footerBody > div > h2 {
  color: var(--highlightcolor);
}
